@tailwind base;
@tailwind components;
@tailwind utilities;

body, html{
    height: 100%;
}

:root {
	--bg-primary: #279d58; // #48914b
}

.dark-theme {
    
}

body {
	font-family: 'Roboto', sans-serif !important;
}